@use "../abstracts/variables" as *;

/* ------------------ FOOTER ------------------ */
.footer {
  background-color: rgba($black-background, 0.943);
  padding: 10px 10px;
  text-align: center;
  color: $light;
  backdrop-filter: blur(3px);
  font-family: "Alumni Sans", sans-serif;
  position: relative;
  z-index: 10;

  &__name {
    font-size: 30px;
    color: $bronze;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: $font-weight300;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 15px;

    & a {
      text-decoration: underline;
      color: $bronze;
    }
  }
}
