@use "../abstracts/variables" as *;

/* ------------------ FOOTER ------------------ */
.footer {
  --footer-color: var(--color-text);

  padding: 10px 10px;
  text-align: center;
  color: var(--footer-color);
  backdrop-filter: blur(3px);
  font-family: "Alumni Sans", sans-serif;
  position: relative;
  z-index: 10;

  &__name {
    font-size: 30px;
    color: var(--color-accent-text);
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: $font-weight300;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 15px;

    & a {
      text-decoration: underline;
      color: var(--color-accent-text);
    }
  }
}

.app[data-page="index"] .footer {
  --footer-color: #{$on-media};
}
