@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* ------------------ DISCOVERY ------------------ */

.discovery-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: min(2000px, 100%);
  margin: 0 auto;
  padding: 3rem 1rem 6rem;

  &__primary-gates {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 2rem;
  }

  &__secondary-gates {
    display: flex;
    flex-wrap: wrap;
  }
}

/* ------------------ RESPONSIVE ------------------ */

@media (max-width: 1024px) {
  .discovery-page {
    gap: 3rem;

    padding: 2rem 1.5rem 4rem;
    &__primary-gates {
      grid-template-columns: 1fr;
    }

    &__secondary-gates {
      gap: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .discovery-page {
    padding-inline: 1rem;
    &__secondary-gates {
      flex-direction: column;

      > * {
        flex: 1 1 auto;
      }
    }
  }
}
