@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* ------------------ DISCOVERY ------------------ */

.app[data-page="decouvrir"] {
  --color-text: #{$on-media};
  --color-accent-text: #{$bronze};

  .footer {
    margin-top: 8rem;
  }
}
