@use "../abstracts/variables" as *;

/* ------------------ BURGER MENU ------------------ */
.nav-burger {
  --burger-line-color: var(--color-text);
  position: relative;
  flex-shrink: 0;
  width: $burger-width;
  height: $burger-height;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: $burger-z-index;
  display: none;

  .ligne {
    background: var(--burger-line-color);
    width: $burger-line-width;
    height: $burger-line-height;
    border-radius: $burger-line-border-radius;
    position: $burger-line-position;
    transition: $burger-line-transition;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 36px;
    }
  }

  &.active {
    .ligne:nth-child(1) {
      top: 18px;
      transform: rotate(45deg);
      background: $bronze;
    }

    .ligne:nth-child(2) {
      transform: translateX(-100px);
      opacity: 0;
    }

    .ligne:nth-child(3) {
      top: 18px;
      transform: rotate(-45deg);
      background: $bronze;
    }
  }
}

.app[data-page="index"] .nav-burger {
  --burger-line-color: #{$on-media};
}
