@use "../abstracts/variables" as *;

/* ------------------ BODY ------------------ */

body {
  font-family: $FontFamily-body;
  position: relative;
  margin: 0;
  padding: 0;
  max-height: 100%;
}

.app {
  background: #181818;
  &[data-page="index"] {
    background: url("~/assets/images/background/main-background.webp")
      center/cover fixed no-repeat;
    padding-top: 0;
  }
}
