@use "../abstracts/variables" as *;

/* ------------------ BODY ------------------ */

body {
  font-family: $FontFamily-body;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  background-color: #181818 !important;

  &[data-page="home"] {
    background: url("~/assets/images/background/main-background.webp")
      center/cover fixed no-repeat;
    padding-top: 0;
  }
}
