@use "../abstracts/variables" as *;

/* ------------------ RESET ------------------ */
*,
*::before,
*::after {
  margin: $margin-reset;
  padding: $padding-reset;
  box-sizing: $box-sizing-reset;
  scroll-behavior: $scroll-behavior-reset;
}
