@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $font-body;
  font-weight: $fw-regular;
  font-size: $fs-body;
  line-height: $lh-base;

  @include mobile {
    font-size: $fs-body-mobile;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-display;
  font-weight: $fw-regular;
}

h1 {
  font-size: $fs-h1;

  @include mobile {
    font-size: $fs-h1-mobile;
  }
}

h2 {
  font-size: $fs-h2;

  @include mobile {
    font-size: $fs-h2-mobile;
  }
}

h3 {
  font-size: $fs-h3;

  @include mobile {
    font-size: $fs-h3-mobile;
  }
}
